* {
	font-family: arial;
	margin: 0;
	padding: 0;
}
main {
	margin: 30px 17%;
}
#logo {
	margin-left: -60px;
	position: absolute;
}
nav ul {
	list-style: none;
	text-align: center;
}
nav ul li {
	display: inline-block;
	padding: 20px;
}
nav ul li a {
	font-weight: bold;
	text-decoration: none;
}
#utilisateur {
	margin-top: 20px;
	position: absolute;
	right: 0;
	top: 0;
	width: 175px;
}
#utilisateur p {
	margin-bottom: 20px;
}
#utilisateur a {
	display: block;
	margin-bottom: 20px;
	text-decoration: none;
}
#sousMenu {
	display: none;
}
#utilisateur:hover #sousMenu {
	display: block;
}
footer {
	margin: 50px 0;
	text-align: center;
}
#message {
	background-color: orange;
	font-weight: bold;
	padding: 15px;
	text-align: center;
}
main ul {
	margin-left: 20px;
}
.buttonDroit {
	background-color: rgb(100, 100, 255);
	color: white;
	display: table;
	margin: 0 0 5px auto;
	padding: 5px 15px;
	text-decoration: none;
}
label {
	display: block;
	margin-top: 10px;
}
input {
	display: block;
	margin-bottom: 10px;
	padding: 5px;
	width: 50%;
}
input[type=radio], input[type=checkbox] {
	display: inline-block;
	margin: 0 5px 0 5px;
	width: auto;
}
input[type=submit] {
	background-color: rgb(20, 20, 255);
	color: white;
	display: table;
	margin-left: 10px;
	padding: 5px 15px;
	width: auto;
}
.erreur {
	color: red;
	font-style: italic;
	font-weight: bold;
	margin-left: 10px;
}
.libelleAligne {
	display: inline-block;
}
#listeLogements {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	margin-top: 30px;
}
#listeLogements img {
	vertical-align: middle;
}
#listeLogements a {
	display: inline-block;
	text-decoration: none;
}
#listeLogements a span {
	display: inline-block;
	margin: 0 15px 0 15px;
}
#listeLogements td {
	padding-top: 20px;
	padding-bottom: 20px;
}
#listeLogements th {
	font-weight: bold;
	padding-bottom: 20px;
}
.LigneLogement:hover {
	background: grey;
	cursor: pointer;
}
.voteInferieur {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("/images/etoile1.png")
	border: 0;
}
#Recherche label, #Recherche input {
	display: inline;
	margin-left: 30px;
	margin-right: 10px;
	width: 8%;
}
#Recherche{
	margin-top: 40px;
	margin-bottom: 20px;
}